<html>
	<head>
		<title>{var=`title`} | Панель администратора</title>
		<script type="text/javascript" language="javascript" src="./admin/styles/theme/js/jquery.js"></script>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="./admin/styles/theme/stylesheets/main.css" />
		<script src="./admin/styles/theme/js/redactor/redactor.js"></script>
		<link rel="stylesheet" href="./admin/styles/theme/js/redactor/css/redactor.css" />
	</head>
	<body>
		<div id="header" name="header">
			<div id="sitename" name="sitename">Панель администратора</div><br />
			<a href="?wd=admin&id=articles" class="menuitem">Статьи</a>
			<a href="?wd=admin&id=uploader" class="menuitem">Файлы</a>
			<a href="?wd=admin&id=video" class="menuitem">Видео</a>
			<a href="?wd=admin&id=users" class="menuitem">Пользователи</a>
		</div>
		<div id="content" name="content">
